* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(wallpaper.png);
  background-size: cover;
}

#clock {
  background-color: #313639;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
}
